*{
    margin: 0;
    padding: 0;
}
nav{
    grid-area: header;
    width: 100vw;
    height: 10vh;
    background-color: #25527b;

}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.3em;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    "nav nav"
    "aside section"
    "footer footer"
    ;
}
aside{
    grid-area: aside;
    height: 80vh;
    width: 20vw;
    background-color: #e7e7e7;
}
.item{
    display: flex;
    margin: 20px;
}
aside h1{
    margin: 20px;
}
section{
    grid-area: section;
    height: 80vh;
    width: 80vw;
}
.grid-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}
.grid-items{
    display: grid;
    /* en busqueda de informacion encontre esta etiqueta que permite alinear de forma horizontal y vertical al mismo tiempo */
    place-items: center;
}
.grid-items img{
    width: 15em;
}
button{
    width: 25vw;
    background-color: #25527b;
    color: white;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
